.App {
  color: #0100cd;
}

.h-screen {
  background-color: #96d2aa;
}

.header {
  background-color: #96d2aa;
}
.process {
  background-color: #96d2aa;
}

.anchor:hover {
  font-weight: 500;
  border-bottom: 2px solid blue;
}

.anchor:active {
  font-size: 18px;
}

.btn:hover {
  background-color: #0100cd;
}

.btn {
  border: 1px solid #0100cd;
}
